name: PR Build

on:
  push:
    branches: ['feature/**']

jobs:
  build:
    runs-on: [ubuntu-latest]
  
    strategy:
      matrix:
        node-version: [20.x]
    
    steps:
      - name: Checkout Code
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      
      - name: Restore Dependencies
        uses: npm ci
      
      - name: Test
        uses: npm run test

      - name: Build
        uses: npm run build
